@page "{id:guid}"
@model webapp.Pages.Todos.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<div class="row">
    <hr />
    <form method="post">
        <div class="form-row">
            <input type="hidden" asp-for="Item.Id" />
            <label asp-for="Item.Name"></label>
        </div>
        <div class=form-row>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form>
</div>
<a asp-page="./Index">Back to List</a>
