@page
@model webapp.Pages.Todos.IndexModel
@{
    ViewData["Title"] = "Create";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Todos)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="card-link">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="card-link">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <a asp-page="Create" class="btn btn-primary">Add Todo</a>
</div>
